In [24]:
import pandas as pd
import numpy as np
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [4]:
df=pd.read_csv("../twitter16m.csv",encoding='latin1',header=None)
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [5]:
df=df[[5,0]]
df.columns=['Tweet','Sentiment']
df.head()

                                               Tweet  Sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

In [6]:
!python -m spacy download en_core_web_md

Collecting en-core-web-md==3.2.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.2.0/en_core_web_md-3.2.0-py3-none-any.whl (45.7 MB)
Requirement already satisfied: spacy<3.3.0,>=3.2.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from en-core-web-md==3.2.0) (3.2.1)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.8 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.8)
Requirement already satisfied: pathy>=0.3.5 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.6.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (4.62.3)
Requirement already satisfied: setuptools in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (59.6.0)
Requirement already satisfied: thinc<8.1.0,>=8.0.12 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (8.0.13)
Requirement already satisfied: numpy>=1.15.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.22.0)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.3.0)

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'C:\Home\Git\NLP-Preprocessing-SentimentData\venv\Scripts\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.6)
Requirement already satisfied: srsly<3.0.0,>=2.4.1 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.4.2)
Requirement already satisfied: packaging>=20.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (21.3)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.27.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.6)
Requirement already satisfied: blis<0.8.0,>=0.4.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.7.5)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.8.2)
Requirement already satisfied: wasabi<1.1.0,>=0.8.1 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.9.0)
Requirement already satisfied: jinja2 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.3)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.6)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.0.1)
Requirement already satisfied: typer<0.5.0,>=0.3.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.4.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from packaging>=20.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.0.6)
Requirement already satisfied: smart-open<6.0.0,>=5.0.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from pathy>=0.3.5->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (5.2.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.9.0,>=1.7.4->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (4.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (1.26.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2021.10.8)
Requirement already satisfied: colorama in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (0.4.4)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from typer<0.5.0,>=0.3.0->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (8.0.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\home\git\nlp-preprocessing-sentimentdata\venv\lib\site-packages (from jinja2->spacy<3.3.0,>=3.2.0->en-core-web-md==3.2.0) (2.0.1)
✔ Download and installation successful
You can now load the package via spacy.load('en_core_web_md')

In [7]:
df['Sentiment'].value_counts()

0    800000
4    800000
Name: Sentiment, dtype: int64

In [8]:
sent_map={0:'negative',4:'positive'}

WORD COUNTS

In [14]:
df['word_counts']=df['Tweet'].apply(lambda x:len(str(x).split()))

In [15]:
df.head()

,Tweet,Sentiment,word_counts,character_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

CHARACTER COUNT

In [16]:
df['character_count']=df['Tweet'].apply(lambda x:len(x))

In [17]:
df.head()

,Tweet,Sentiment,word_counts,character_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

AVERAGE WORD LENGTH

In [21]:
def get_avg_word_len(x):
    words=x.split()
    word_len=0
    for word in words:
        word_len=word_len+len(word)
    return word_len/len(words) # Total length of each word in the tweet divided by the number of words in the sentence

In [22]:
df['avg_word_len']=df['Tweet'].apply(lambda x:get_avg_word_len(x))

In [23]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444
3,my whole body feels itchy and like its on fire,0,10,47,3.700000
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714

STOP WORDS COUNT

In [25]:
STOP_WORDS

{"'d",
 "'ll",
 "'m",
 "'re",
 "'s",
 "'ve",
 'a',
 'about',
 'above',
 'across',
 'after',
 'afterwards',
 'again',
 'against',
 'all',
 'almost',
 'alone',
 'along',
 'already',
 'also',
 'although',
 'always',
 'am',
 'among',
 'amongst',
 'amount',
 'an',
 'and',
 'another',
 'any',
 'anyhow',
 'anyone',
 'anything',
 'anyway',
 'anywhere',
 'are',
 'around',
 'as',
 'at',
 'back',
 'be',
 'became',
 'because',
 'become',
 'becomes',
 'becoming',
 'been',
 'before',
 'beforehand',
 'behind',
 'being',
 'below',
 'beside',
 'besides',
 'between',
 'beyond',
 'both',
 'bottom',
 'but',
 'by',
 'ca',
 'call',
 'can',
 'cannot',
 'could',
 'did',
 'do',
 'does',
 'doing',
 'done',
 'down',
 'due',
 'during',
 'each',
 'eight',
 'either',
 'eleven',
 'else',
 'elsewhere',
 'empty',
 'enough',
 'even',
 'ever',
 'every',
 'everyone',
 'everything',
 'everywhere',
 'except',
 'few',
 'fifteen',
 'fifty',
 'first',
 'five',
 'for',
 'former',
 'formerly',
 'forty',
 'four',
 'from',
 'front',
 'full',
 'further',
 'get',
 'give',
 'go',
 'had',
 'has',
 'have',
 'he',
 'hence',
 'her',
 'here',
 'hereafter',
 'hereby',
 'herein',
 'hereupon',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'however',
 'hundred',
 'i',
 'if',
 'in',
 'indeed',
 'into',
 'is',
 'it',
 'its',
 'itself',
 'just',
 'keep',
 'last',
 'latter',
 'latterly',
 'least',
 'less',
 'made',
 'make',
 'many',
 'may',
 'me',
 'meanwhile',
 'might',
 'mine',
 'more',
 'moreover',
 'most',
 'mostly',
 'move',
 'much',
 'must',
 'my',
 'myself',
 "n't",
 'name',
 'namely',
 'neither',
 'never',
 'nevertheless',
 'next',
 'nine',
 'no',
 'nobody',
 'none',
 'noone',
 'nor',
 'not',
 'nothing',
 'now',
 'nowhere',
 'n‘t',
 'n’t',
 'of',
 'off',
 'often',
 'on',
 'once',
 'one',
 'only',
 'onto',
 'or',
 'other',
 'others',
 'otherwise',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 'part',
 'per',
 'perhaps',
 'please',
 'put',
 'quite',
 'rather',
 're',
 'really',
 'regarding',
 'same',
 'say',
 'see',
 'seem',
 'seemed',
 'seeming',
 'seems',
 'serious',
 'several',
 'she',
 'should',
 'show',
 'side',
 'since',
 'six',
 'sixty',
 'so',
 'some',
 'somehow',
 'someone',
 'something',
 'sometime',
 'sometimes',
 'somewhere',
 'still',
 'such',
 'take',
 'ten',
 'than',
 'that',
 'the',
 'their',
 'them',
 'themselves',
 'then',
 'thence',
 'there',
 'thereafter',
 'thereby',
 'therefore',
 'therein',
 'thereupon',
 'these',
 'they',
 'third',
 'this',
 'those',
 'though',
 'three',
 'through',
 'throughout',
 'thru',
 'thus',
 'to',
 'together',
 'too',
 'top',
 'toward',
 'towards',
 'twelve',
 'twenty',
 'two',
 'under',
 'unless',
 'until',
 'up',
 'upon',
 'us',
 'used',
 'using',
 'various',
 'very',
 'via',
 'was',
 'we',
 'well',
 'were',
 'what',
 'whatever',
 'when',
 'whence',
 'whenever',
 'where',
 'whereafter',
 'whereas',
 'whereby',
 'wherein',
 'whereupon',
 'wherever',
 'whether',
 'which',
 'while',
 'whither',
 'who',
 'whoever',
 'whole',
 'whom',
 'whose',
 'why',
 'will',
 'with',
 'within',
 'without',
 'would',
 'yet',
 'you',
 'your',
 'yours',
 'yourself',
 'yourselves',
 '‘d',
 '‘ll',
 '‘m',
 '‘re',
 '‘s',
 '‘ve',
 '’d',
 '’ll',
 '’m',
 '’re',
 '’s',
 '’ve'}

In [26]:
df['stop_words_len']=df['Tweet'].apply(lambda x:len([t for t in x.split() if t in STOP_WORDS]))

In [27]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10

#HASHTAGS AND MENTIONS COUNT

In [29]:
df['hashtags_count']=df['Tweet'].apply(lambda x:len([t for t in x.split() if t.startswith("#")]))

In [30]:
df['mentions_count']=df['Tweet'].apply(lambda x:len([t for t in x.split() if t.startswith("@")]))

In [31]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1

NUMERIC DIGITS COUNT

In [32]:
df['numerics_count']=df['Tweet'].apply(lambda x:len([t for t in x.split() if t.isdigit()]))

In [33]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0

UPPERCASE LETTERS IN A TWEET

In [34]:
df['uppercase_count']=df['Tweet'].apply(lambda x:len([t for t in x.split() if t.isupper() and len(x)>3]))

In [35]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,uppercase_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

In [36]:
df.loc[96]

Tweet              so rylee,grace...wana go steve's party or not?...
Sentiment                                                          0
word_counts                                                       21
character_count                                                  112
avg_word_len                                                4.333333
stop_words_len                                                     3
hashtags_count                                                     0
mentions_count                                                     0
numerics_count                                                     1
uppercase_count                                                   13
Name: 96, dtype: object

PREPROCESSING AND CLEANING

LOWERCASE CONVERSION

In [37]:
df['Tweet']=df['Tweet'].apply(lambda x:x.lower())

CONTRACTION TO EXPANSION

In [42]:
contractions = { 
"ain't": "am not / are not / is not / has not / have not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is / how does",
"I'd": "I had / I would",
"I'd've": "I would have",
"I'll": "I shall / I will",
"I'll've": "I shall have / I will have",
"I'm": "I am",
"I've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

In [40]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value=contractions[key]
            x=x.replace(key,value)
        return x
    else:
        return x

In [43]:
df['Tweet']=df['Tweet'].apply(lambda x:cont_to_exp(x))
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,uppercase_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it has / it is not behavi...",0,21,111,4.285714,10,0,1,0,1

COUNT AND REMOVE EMAILS

In [44]:
import re
regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

In [46]:
df['emails']=df['Tweet'].apply(lambda x:re.findall(regex,x))

In [52]:
df['emails_count']=df['emails'].apply(lambda x:len(x))

In [54]:
df[df['emails_count']>0]

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,uppercase_count,emails,emails_count
4054,i want a new laptop. hp tx2000 is the bomb. :...,0,20,103,4.150000,6,0,0,0,4,[gabbehhramos@yahoo.com],1
7917,who stole elledell@gmail.com?,0,3,31,9.000000,1,0,0,0,0,[elledell@gmail.com],1
8496,@alexistehpom really? did you send out all th...,0,20,130,5.500000,11,0,1,0,0,[missataari@gmail.com],1
10290,@laureystack awh...that has / that is kinda sa...,0,8,76,8.500000,0,0,1,0,0,[hello.kitty.65@hotmail.com],1
16413,"@jilliancyork got 2 bottom of it, human error...",0,21,137,5.428571,7,0,1,1,0,[press@linkedin.com],1
...,...,...,...,...,...,...,...,...,...,...,...,...
1588338,@boudoirsextoys do not forget to shoot me an e...,4,21,127,5.047619,10,0,1,0,1,[hello@tastelikekisses.com],1
1589132,"hi there , anybody got a job for me oil &amp;...",4,15,98,5.533333,4,0,0,0,0,[aadvanspijk@yahoo.co.uk],1
1590489,"@clericaaron yes, lbruton@tulsalanparty.com is...",4,14,95,5.785714,6,0,1,0,1,[lbruton@tulsalanparty.com],1
1591675,@miss_ellen good morning!!!! congrats! se...,4,9,77,7.111111,2,0,1,0,0,[jill@q985fm.com],1
1599053,@thejoshlynn you are! btw send me an email. wa...,4,19,145,6.631579,7,0,1,0,1,[marni@creativecustomcardboxes.com],1

In [56]:
df['Tweet']=df['Tweet'].apply(lambda x:re.sub(regex,"",x))

In [57]:
df.head()

,Tweet,Sentiment,word_counts,character_count,avg_word_len,stop_words_len,hashtags_count,mentions_count,numerics_count,uppercase_count,emails,emails_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1,[],0
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0,[],0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1,[],0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0,[],0
4,"@nationwideclass no, it has / it is not behavi...",0,21,111,4.285714,10,0,1,0,1,[],0

COUNT URLS AND REMOVE IT

In [64]:
x="www.google.com"

In [67]:
url_regex=r"[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
re.findall(url_regex,x)

['']